*, html, body {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  background: darkblue;
  color: white;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  flex-wrap: wrap;
}

h1 {
  margin-right: auto;
  margin-left: 10px;
  transition: all .3s ease-in-out
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  z-index: 10;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 6px;
  transition: all .3s ease-in-out;
}

nav a:hover, h1:hover{
  font-weight: 700;
  transform: scale(1.1,1.1);
  color: orangered;
  border-radius: 8px;
}

button {
  margin: 10px;
  padding: 10px;
  border: none;
  background-image: linear-gradient(to right, red , yellow);
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 7px;
}

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0 0 0;
}

section img {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding-bottom: 32px;
}

.about-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  animation-timeline: view();
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  color: white;
  padding: 20px;
  gap: 5px;
  font-weight: 700;
}

.top-bar p {
  margin-bottom: 10px;
  text-align: center;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.card-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  padding: 20px 0;
  border-radius: 8px;
  
}

.card-title {
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 18px;
}

.card-item img {
  width: 80px;
  height: 80px;
}

.description {
  font-size: 1rem;
  font-weight: soft;
}

footer {
  width: 100%;
  height: auto;
  background-color: darkblue;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 18px 0;
}

@media screen and (min-width: 1208px) {
  .cards {
    flex-direction: row;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
};